<div data-controller="problem-new" data-problem-new-index="0">
  <%= simple_form_for(problem) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
    <div class="form-inputs" >
      <div data-target="problem-new.slide" class="slide" style="padding: 0 35px 0 35px;">
        <%= f.input :title, input_html: { 'data-action': "keydown->problem-new#next"}, placeholder: "Start your question with “What”, “How”, “Why”, etc." %>
      </div>
      <div data-target="problem-new.slide" class="slide" style="padding: 0 35px 0 35px;">
        <%= f.input :description, input_html: { 'data-action': "keydown->problem-new#next" }, placeholder: "Describe your problem." %>
      </div>
      <div data-target="problem-new.slide" class="slide" style="padding: 0 35px 0 35px;">
        <%= f.association :category ,  input_html: { 'data-action': "keydown->problem-new#next"}, placeholder: "Select a the relevant category."  %>
      </div>
      <div data-target="problem-new.slide" class="slide" style="padding: 0 35px 0 35px;">
        <%= f.input :tag_list, label: 'Tags', value: f.object.tag_list.to_s ,  input_html: { 'data-action': "keydown->problem-new#next"}, placeholder: "Add one or more tag(s)."  %>
      </div>
     
      <div data-target="problem-new.slide" class="slide" style="padding: 0 35px 0 35px;">
        <div class="form-actions" style="display: flex; justify-content: space-around;">
          <%= f.button :submit,  class: 'navbarButton' , style: 'color: white;'%>
        </div>
      </div>
      </div>
    <% end %>
  </div>
