<div class="container">
<div style="height: 20px;"></div>
<div class="questionShow">
  

  <div class="questionShowTitle">
    <%= @problem.title %>
  </div>
  <div class="tagsBox">
  <% @problem.tag_list.each do |tag| %>
          <div class="tag">
            <%= image_tag "tag.png", :style => "width: 20px; height: 20px" %>
            <%= tag %>
            <% if current_user == @problem.user %>
            <%= link_to problem_tags_path(tag),
              method: :delete,
              data: { confirm: "Are you sure?" } do %>
            <i class="fas fa-times" style="color: grey"></i>
            <% end %>
            <% end %>
          </div>
        <% end%>
        </div>
  <div style="display:flex; align-items: flex-end"> 
    <%= image_tag "Answer_icon_highlighted.png", :style => "width: 30px; height: 30px; margin-right: 10px" %>
    <p style="margin: 0px;">Edit</p>
    <div style="width: 50px;"></div>
    <div id="follow-votes-<%= @problem.id %>">
      <%= render 'follow_votes', problem: @problem %>    
    </div>
    <div style="width: 600px;"></div>
    <%= image_tag "Ignore_icon.png", :style => "width: 20px; height: 20px; margin: 0px 10px 5px 0px" %>
    <%= image_tag "Share_icon.png", :style => "width: 20px; margin: 0px 10px 5px 0px" %>
    <%= image_tag "More_icon.png", :style => "width: 20px; margin: 0px 10px 5px 0px" %>
  </div>
  <div style="display: flex; margin-top: 10px;">
    <p style="color: #949494; font-size: 14px;">Questions -</p>
    <div style="color: #949494; font-size: 14px;"><%= @problem.category. title %></div>
    
    <h6 style="margin-left: auto;" id="<%="problem-votes-#{@problem.id}"%>"> 
      
     <%= render 'problem_votes', problem: @problem %>
    </h6>
  </div>
  <div style="display: flex;">
    <p style="color: #949494; font-size: 14px; font-weight: bold; margin-right: 5px;">No answer given -</p>
    <p style="color: #949494; font-size: 14px;">Last viewed 1s ago</p>
  </div>
  <div style="color: #434343;">
    <%= @problem.description %>
  </p>


</div>

  <%
=begin%>
 <p>
    <strong>Status:</strong>
    <%= @problem.status %>
  </p> 
<%
=end%>

  <div style="width: 100%; height: 1px; background-color: #949494"></div>
 
  <div id="comments-list">
  <% @problem.comments.each do |comment| %>

      <%= render 'comment_card', comment: comment %>
    <% end %>
 </div>
      <%= render 'comments/form', comment: Comment.new, problem: @problem %>
      <%
=begin%>
 <%= link_to 'Edit', edit_problem_path(@problem) %> |
      <%= link_to 'Back', problems_path %> 
<%
=end%>

</div>
<div  class="similar-questions" >
  <%= render 'shared/suggestions'%>
</div>
