<div class="navbar">
  <%= image_tag "AskEU_LOGO.png", class: "navbar-logo"%>
  <div style="display:flex;">
    <div class="navOption">
      <%= image_tag "Question_icon.png", style: "width: 20px; height: 20px" %>
      <%= link_to "Questions", problems_path, class: "nav-link" %>
    </div> 
    <div class="navOption">
      <%= image_tag "Answer_icon.png", style: "width: 20px; height: 20px" %>
      <%= link_to "Answer", "#", class: "nav-link" %>
    </div>
    <div class="navOption">
      <%= image_tag "Notification_icon.png", style: "width: 20px; height: 20px" %>
      <%= link_to "Notifications", "#", class: "nav-link" %>
    </div>
  </div>
  <%= form_tag problems_path, method: :get do %>
    <div class="search-bar">
      <%= text_field_tag :query, params[:query], placeholder: "Search...", autocomplete:"off", class: "search-bar-nav" %>
    </div>
  <% end %>
  <% if user_signed_in? %>
      <button type="button" class="navbarButton" data-toggle="modal" data-target="#addQuestion">
      <p style="color: white;">Add a question</p>
      </button>
    <%= link_to "Dashboard", dashboard_path, class: "nav-link" %>
    <%= link_to "Analytics", analytics_path, class: "nav-link" %>

    <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %>
  <% else %>
    <%= link_to "Log in", new_user_session_path, class: "nav-link" %>

  <% end %>


  <div class="modal fade" id="addQuestion" tabindex="-1" role="dialog" aria-labelledby="addQuestionLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <div style="padding: 0 0 0 20px;">
            <h5>Tips to obtain relevant answers quickly</h5>
          </div>
          <div>
            <ul class="tips-list">
              <li> <i class="far fa-check-circle"></i>Make sure your question hasn't been asked before</li>
              <li><i class="far fa-check-circle"></i>For your question, try to keep it short and clear</li>
              <li><i class="far fa-check-circle"></i>Try to make sure there aren't an abundance of grammatical errors</li>
            </ul>
          </div>
        </div>
        <div style="height: 1px; width: 100%; background-color: #E2E2E2;"> </div>
        <%= render 'problems/form', problem: Problem.new %>
        <div style="height: 1px; width: 100%; background-color: #E2E2E2;"> </div>
        <div class="modal-body last">
          <p class="optional" style="padding: 0 0 0 12px; font-size: 14px;"><i class="fas fa-link"></i>Optional : add a file for more context.</p>
        </div>

      </div>
    </div>
  </div>
</div>
