<div class="navbar">
  <%= image_tag "AskEU_LOGO.png", class: "navbar-logo"%>
  <div style="display:flex;">
    <div class="navOption">
      <%= image_tag "Question_icon.png", style: "width: 20px; height: 20px" %>
      <%= link_to "Questions", problems_path, class: "nav-link" %>
    </div> 
    <div class="navOption">
      <%= image_tag "Answer_icon.png", style: "width: 20px; height: 20px" %>
      <%= link_to "Answer", "#", class: "nav-link" %>
    </div>
  </div>
  <%= form_tag problems_path, method: :get do %>
    <div class="search-bar">
      <%= text_field_tag :query, params[:query], placeholder: "Search...", autocomplete:"off", class: "search-bar-nav" %>
    </div>
  <% end %>
  <%= link_to new_problem_path(@problem) do  %>
    <div class="navbarButton">
      <p>Add a Question</p>
    </div>
  <% end %>
  <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %>
    

</div>


  <%
=begin%>
 <div class="items-left">
    <ul class="items-list">
      <li class="item">
        <%= link_to root_path, class: "navbar-brand" do %>
          <%= image_tag "AskEU_LOGO.png", class: "navbar-logo"%>
        <% end %>
      </li>
      <li class="item">
        <%= link_to "Home", root_path, class: "nav-link" %>
      </li>
      <li class="item">
        <%= link_to "Answer", "#", class: "nav-link" %>
      </li>
      <li class="item">
        <%= link_to "Notifications", "#", class: "nav-link" %>
      </li>
      <li class="item" id="item-search">
        <%= form_tag problems_path, method: :get do %>
          <div class="search-bar">
            <%= text_field_tag :query, params[:query], placeholder: "Search...", autocomplete:"off", class: "search-bar-nav" %>
          </div>
        <% end %>
      </li>
    </ul>
  </div>
  <div class="items-right">
    <ul class="items-list">
      <% if user_signed_in? %>
        <li class="item">
          <%#= link_to "Add a question", new_problem_path, class: "button-blue" %>
          <button type="button" class="button-blue" data-toggle="modal" data-target="#addQuestion">
            Add a question
          </button>
        </li>
        <li class="item">
          <%= link_to "Dashboard", "#", class: "nav-link" %>
        </li>
        <li class="item">
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %>
        </li>
      <% else %>
        <li class="item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>

  </div> 
<%=end%>
</div>
