<div class="navbar">
  <div class="items-left">
    <ul class="items-list">
      <li class="item">
        <%= link_to root_path, class: "navbar-brand" do %>
          <%= image_tag "AskEU_LOGO.png", class: "navbar-logo"%>
        <% end %>
      </li>
      <li class="item">
        <%= link_to "Home", root_path, class: "nav-link" %>
      </li>
      <li class="item">
        <%= link_to "Answer", "#", class: "nav-link" %>
      </li>
      <li class="item">
        <%= link_to "Notifications", "#", class: "nav-link" %>
      </li>
      <li class="item" id="item-search">
        <%= form_tag problems_path, method: :get do %>
          <div class="search-bar">
            <%= text_field_tag :query, params[:query], placeholder: "Search...", autocomplete:"off", class: "search-bar-nav" %>
          </div>
        <% end %>
      </li>
    </ul>
  </div>
  <div class="items-right">
    <ul class="items-list">
      <% if user_signed_in? %>
        <li class="item">
          <%= link_to "Add a question", new_problem_path, class: "button-blue" %>
        </li>
        <li class="item">
          <%= link_to "Dashboard", "#", class: "nav-link" %>
        </li>
        <li class="item">
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %>
        </li>
      <% else %>
        <li class="item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
