<div class="analytics-container">
    <div>
        <h2> Number of issues tagged  per country </h2>
        <div class="chart-cont">    
                <%= geo_chart @problem_countries,  library: { region: '150' }, width: '100%;' %>
        </div>
    </div>
    <div>
    <h2> Number of Issues per categories </h2>
        <div class="chart-cont">    

         <%= pie_chart @pie_data, width: '100%;' %>
    </div>
    </div>
     
     
    <% Category.all.each do |category| %>
     <div> 
       <%  if category.comments.empty? %>
        <h2> There's been no comments for <%= category.title%> questions </h2>
        <% else %>
        <h2> N° month for <%= category.title %> </h2>
        <div class="chart-cont">    
        
        <%=  column_chart category.comments.group_by_month(:created_at).count, width: '100%;' %>
       </div>

        <% end %>
       </div>
    <% end %>   
 

</div>

