<% if !follow_problem(current_user, problem).nil? %>

      <%= link_to follow_path( follow_problem(current_user, problem) ), method: :delete, remote: true, :style => "display:flex;"  do %>
        <%= image_tag "Follow_icon_highlighted.png", :style => "width: 20px; height: 20px; margin: 0px 10px 5px 0px;" %>
        <p style="margin: 0px; color: #004494; "><%= problem.follows.count %> </p>
      <% end %>
    <% else %>
 

      <%= link_to follows_path(follow: { problem_id: problem.id }), method: :post, remote: true, :style => "display:flex;" do %>
       <%= image_tag "Follow_icon.png", :style => "width: 20px; height: 20px; margin: 0px 10px 5px 0px;" %>
         <p style="margin: 0px; color: black; "><%= problem.follows.count %> </p>
      <% end %>
    <% end %>
